# Ignore Eclipse/Zend Studio project files
.buildpath
.project
.settings

# Ignore PhpStorm files
.idea/

/.phpintel/

/.vscode/

# Ignore files under Mac
.DS_Store

# Ignore Composer files.
/composer.lock
/vendor/*

# Ignore PHPUnit files
/.phpunit.cache
/.phpunit.result.cache
/phpunit.xml
